<app-message></app-message>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-70">
          Welcome
        </span>
        <div class="wrap-input100 validate-input m-t-85 m-b-35" >
          <label > email</label>
          <input class="input100" type="text" name="email"  [(ngModel)]="employee.email">
        </div>

        <div class="wrap-input100 validate-input m-b-50" >
          <label > password</label>
          <input class="input100" type="password" name="password" [(ngModel)]="employee.password">
        </div>
        <app-message></app-message>
        <span style="color: red;">{{mess}}</span>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)='login()'>
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
