<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Sales</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Sản phẩm đã bán</h4>
                <p class="card-category">Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <th>No</th>
                      <th>Mã đơn hàng</th>
                      <th>Tên Hàng</th>
                      <th>Số lượng</th>
                      <th>Thành tiền</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Dakota Rice</td>
                        <td>Niger</td>
                        <td>Oud-Turnhout</td>
                        <td class="text-primary">$36,738</td>
                        <td>Chi tiết</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header card-header-primary">
                <h4 class="card-title mt-0">Đơn Hàng đang giao</h4>
                <p class="card-category">Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="text-primary">
                      <th>No</th>
                      <th>Mã đơn hàng</th>
                      <th>Tên Hàng</th>
                      <th>Số lượng</th>
                      <th>Thành tiền</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Dakota Rice</td>
                        <td>Niger</td>
                        <td>Oud-Turnhout</td>
                        <td class="text-primary">$36,738</td>
                        <td>Chi tiết</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
