<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Dashboard</div>
      <div class="page__content shadow p-3 position-relative">
        <div class="d-flex" id="wrapper">
          <!-- Sidebar -->
          <div class="bg-white" id="sidebar-wrapper">
          </div>
          <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
          <div id="page-content-wrapper">
            <div class="container-fluid px-4">
              <ul class="pagination">
                <li style="margin-left: 80%;"><a class="page-link">Sort: </a></li>
                <select class="page-link" [(ngModel)]="days" (click)="Loadday(days)" >
                  <option value=0>1 day</option>
                  <option value=7>7 day</option>
                  <option value=30>30 day</option>
                </select>
              </ul>
              <div class="row g-3 my-2">
                <div class="col-md-3">
                  <div class="p-3  shadow-sm d-flex justify-content-around align-items-center rounded" style="background-color: rgb(50, 50, 247);color: aliceblue;">
                    <div>
                      <h3 class="fs-2">{{number}}</h3>
                      <p class="fs-5">Products</p>
                    </div>
                    <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="p-3  shadow-sm d-flex justify-content-around align-items-center rounded" style="background-color: rgb(50, 50, 247);color: aliceblue;">
                    <div>
                      <h3 class="fs-2">{{total}}</h3>
                      <p class="fs-5">Sales</p>
                    </div>
                    <i class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="p-3  shadow-sm d-flex justify-content-around align-items-center rounded" style="background-color: rgb(50, 50, 247);color: aliceblue;">
                    <div>
                      <h3 class="fs-2">{{count}}</h3>
                      <p class="fs-5">Cancel</p>
                    </div>
                    <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="p-3  shadow-sm d-flex justify-content-around align-items-center rounded" style="background-color: rgb(50, 50, 247);color: aliceblue;">
                    <div>
                      <h3 class="fs-2">{{count2}}</h3>
                      <p class="fs-5">Success</p>
                    </div>
                    <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <h1 class="fs-4 mb-3" >Recent Orders</h1>
                <div class="col">
                  <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                      <tr>
                        <th scope="col" style="font-size: 2.5rem;" width="50">#</th>
                        <th scope="col" style="font-size: 2.5rem;">Customer</th>
                        <th scope="col" style="font-size: 2.5rem;">Time order</th>
                        <th scope="col" style="font-size: 2.5rem;">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of oder1, let i = index ">
                        <td>{{i+1}}</td>
                        <td>{{item.displayName}}</td>
                        <td>{{item.timeOrder|date}}</td>
                        <td>{{item.total}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item" (click)="Loadpage(pages-1)"><a class="page-link">Previous</a></li>
                    <input class="page-link" style="width: 50px;" type="number" name="pages" [(ngModel)]="pages"
                      (ngModelChange)="Loadpage(pages)" />
                    <li class="page-item" (click)="Loadpage(pages+1)"><a class="page-link">Next</a></li>
                    <li class="page-item" ><a class="page-link">Size</a></li>
                    <select class="page-link" [(ngModel)]="sizes" (click)="Loadsize(sizes)">
                      <option value=5>5</option>
                      <option value=10>10</option>
                      <option value=15>15</option>
                    </select>
                  </ul>
                </nav>
              </div>

            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
