<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>person</mat-icon> User Profile
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/sale">
    <mat-icon>add_shopping_cart</mat-icon> 
    Sales
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/blog">
    <mat-icon>feedback</mat-icon> 
    Blogs
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/product">
    <mat-icon>library_add</mat-icon> 
    Products
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/news">
    <mat-icon>fiber_new</mat-icon> 
    News
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/brands">
    <mat-icon>pages</mat-icon> 
    Brands
  </a>
</mat-nav-list>
