<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.PNG" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
    <mat-icon>person</mat-icon> User Profile
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/delivery">
    <mat-icon> local_shipping</mat-icon>Delivery
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cancel">
    <mat-icon> cancel</mat-icon>Cancel
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/suceess">
    <mat-icon>doneoutline</mat-icon> Success
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/sale">
    <mat-icon>add_shopping_cart</mat-icon>
    Cart
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/blog">
    <mat-icon>feedback</mat-icon>
    Blogs
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/product">
    <mat-icon>library_add</mat-icon>
    Products
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/news">
    <mat-icon>fiber_new</mat-icon>
    News
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/brands">
    <mat-icon>pages</mat-icon>
    Brands
  </a>
</mat-nav-list>
